@use "colors" as c;

@mixin section-heading {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 4%;
  line-height: 36.4px;
}

@mixin body-text {
  font-size: 15px;
  line-height: 24px;
}

@mixin body-text-muted {
  @include body-text;
  color: c.color("secondary-foreground");
}
