@use "../../colors" as c;

.price-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > p {
    background-color: c.color("primary");
    color: c.color("foreground-inverted");
    text-align: center;
    padding: 10px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 5px;
  }
}
